* {box-sizing: border-box;}

body {
	background-color: black;
	color: gray;
	text-align: center;
	font-family: fantasy;
	padding: 15px;
}

h1 {
	font-size: 36px;
}

img.img-full {
	max-width: 200px;
	width: 100%;
	display: block;
	margin: 5px auto;
}

.column-1-of-4,
.column-2-of-4,
.column-3-of-4
.column-4-of-4 {
	width: 100%;
	float: left;
	margin: 0 auto;
	padding: 5px;
}

@media all and (min-width: 360px){
	.column-1-of-4 {
		float: left;
		width: 50%;
	}

	.column-2-of-4 {
		float: left;
		width: 50%;
	}
}

@media all and (min-width: 768px){
	.column-1-of-4 {
		float: left;
		width: 25%;
	}
}

ul.main-menu li {
	list-style: none;
	display: inline;
	margin: 20px;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: gray;
	text-decoration: none;

}

a:hover, a:active {
	color: white;
	text-decoration: none;
}