* {box-sizing: border-box;}

body {
	background-color: black;
	color: gray;
	text-align: center;
	font-family: fantasy;
}

h1 {
	font-size: 36px;
}

p.session-tales, h2 {
	text-align: left;
	border: 1px dotted red;
	width: 70%;
}

p.session-dates {
	text-align: right;
	float: right;
	width: 25%;
}

p.story-bottom {
	padding-bottom: 100px;
}